/* Sass Variables */
$headline-font: "Roboto", sans-serif;
$paragraph-font: "Arial", sans-serif;
$primary-color: #333;
$headline-color: #B22222;
$second-headline: #000080;
$hover-color:	#4169E1;

/* Base Styles */
body {
  color: $primary-color;
  background-color: #fff;
  font-family: $paragraph-font;
}

/* Header */ 
header {
  border: 2px solid $headline-color;
  background-color: $headline-color;

  nav {
      font-family: $headline-font;
      font-size: 40px;

      a {
          color: #fff;
      }

      a:hover {
          color: $hover-color;
      }
  }

  li {
      font-weight: bold;

      a {
          font-size: 20px;
      }
  
      a:hover {
          color: $hover-color;
      }
  }
}

/* Main Styles */ 
#banner {
  background-image: url("https://cdn.pixabay.com/photo/2014/05/05/19/53/keyboard-338505_960_720.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;

  div {
      font-family: $headline-font;
      padding: 150px 0;
      color: $second-headline;

      h2 {
          font-size: 35px;
      }

      h3 {
          font-size: 30px;
      }
  }
}

#about {
    padding: 20px 0;

    p {
        font-size: 20px;
        line-height: 32px;
    }
}

#spider-man {
    padding: 40px 0;

    h2 {
        font-size: 35px;
        font-family: $headline-font;
        color: $headline-color;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 15px;
    }

    .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery-item-1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery-item-2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery-item-3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    .gallery-item-4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
    }

    .gallery-item-5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
    }

    .gallery-item-6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
    }
}

/* Footer Styles */ 
footer {
    background-color: $headline-color;
    padding: 15px;
    
    p {
        color: #fff;
        font-size: 16px;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: $hover-color;
    }
}